image:
    - Visual Studio 2017
environment:
    matrix:
        - PYTHON: "C:\\Python27-x64"
        - PYTHON: "C:\\Python35-x64"
        - PYTHON: "C:\\Python36-x64"
install:
    - "%PYTHON%\\python.exe -m pip install --upgrade setuptools pip"
    - "%PYTHON%\\python.exe -m pip --version"
    - "git.exe --version"
    - "%PYTHON%\\python.exe -m pip install --upgrade flake8 pylint"
    # - "%PYTHON%\\python.exe -m pip install --upgrade flake8 pylint codecov"
    # - "%PYTHON%\\python.exe -m pip install --upgrade pytest-flake8 pytest-pylint pytest-cov"
    - "%PYTHON%\\python.exe -m pip install --upgrade pytest-flake8 pytest-pylint"
    - "%PYTHON%\\python.exe -m pip install -e ."
    # - "choco install codecov"
build: off
test_script:
    # - "%PYTHON%\\python.exe -m pytest --flake8 --pylint -p no:cov"
    # - "%PYTHON%\\python.exe -m pytest -p no:flake8 -p no:pylint --cov-report xml"
    - "%PYTHON%\\python.exe -m pytest --flake8 --pylint"
    # Enable the following only when tests are written
    # - "%PYTHON%\\python.exe -m pytest -p no:flake8 -p no:pylint"
# on_success:
#     - "codecov -f coverage.xml"
skip_branch_with_pr: true
